<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    >

      function gitDescription
            {
              let description = document.querySelector("#description1").value;
              alert(description1);
            }
    </script>
    <title>C Labs and Assignments</title>

    <!-- import the webpage's stylesheet -->
  </head>
  <nav class="navbar fixed-top navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">CS Units</a>
      <form class="container-fluid justify-content-start">
        <button class="btn btn-lg btn-outline-secondary" type="button">
          <a href="/index" style="text-decoration: none;">Home</a>
        </button>
        <button class="btn  btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit1" style="text-decoration: none;">C Language</a>
        </button>
        <button class="btn  btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit2" style="text-decoration: none;">Arrays</a>
        </button>
        <button class="btn btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit3" style="text-decoration: none;">Algorithms</a>
        </button>
        <button class="btn btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit4" style="text-decoration: none;">Memory</a>
        </button>
        <button class="btn btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit5" style="text-decoration: none;">Python</a>
        </button>
        <button class="btn btn-lg btn-outline-success me-2" type="button">
          <a href="/pset1" style="text-decoration: none;">Problem Set 1</a>
        </button>
        <button class="btn btn-lg btn-outline-success me-2" type="button">
          <a href="/pset2" style="text-decoration: none;">Problem Set 2</a>
        </button>
        <button class="btn btn-lg btn-outline-success me-2" type="button">
          <a href="/pset3" style="text-decoration: none;">Problem Set 3</a>
        </button>
      </form>
    </div>
  </nav>

  <body
    style="background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
"
    class="bg-info container jumbotron"
  >
    <div style="position:relative; top:100px;">
      <h1 class="text-center text-white">
        <u>Problem Set 2</u>
      </h1>
      <div
        class="glitchButton"
        style="position:fixed;top:20px;right:20px;"
      ></div>
      <script src="https://button.glitch.me/button.js" defer></script>
      <div class="container">
        <div class="row-sm">
          <div class="col-sm">
            <h3 class="text-secondary text-center">
              Caesar:
            </h3>
            <p class="text-danger fs-5 text-center">
              In this problem set we had to create a function that would encrypy a users inputed message using the caeser encryption method.
            </p>
            <script src="https://gist.github.com/masonParker/9558bb6e9b56a5c64a72398bbcb5e5cb.js"></script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
