<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    >

      function gitDescription
            {
              let description = document.querySelector("#description1").value;
              alert(description1);
            }
    </script>
    <title>C Labs and Assignments</title>

    <!-- import the webpage's stylesheet -->
  </head>
  <nav class="navbar fixed-top navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">CS Units</a>
      <form class="container-fluid justify-content-start">
        <button class="btn btn-lg btn-outline-secondary" type="button">
          <a href="/index" style="text-decoration: none;">Home</a>
        </button>
        <button class="btn  btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit1" style="text-decoration: none;">C Language</a>
        </button>
        <button class="btn  btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit2" style="text-decoration: none;">Arrays</a>
        </button>
        <button class="btn btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit3" style="text-decoration: none;">Algorithms</a>
        </button>
        <button class="btn btn-lg btn-outline-success me-2" type="button">
          <a href="/Unit4" style="text-decoration: none;">Memory</a>
        </button>
      </form>
    </div>
  </nav>
  <body
    style="background: rgb(2,0,36); background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);"
    class="bg-info container jumbotron"
  >
    <div style="position:relative; top:100px;">
      <h1 class="text-center text-white">
        <u>Unit 3: Algorithms</u>
      </h1>
      <div class="container">
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Linear Search:
          </h3>
          <p class="text-danger fs-5 text-center">
            In this lab we learned: Linear search and, computational complexity
          </p>
          <script src="https://gist.github.com/masonParker/78136c760f8e98a839bc592937f0fe99.js"></script>
        </div>
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Bubble Sort:
          </h3>
          <p class="text-danger fs-5 text-center">
            In this lab we learned: How bubble sort works, and computational
            Complexity
          </p>
          <script src="https://gist.github.com/masonParker/d12cd0cd7fe3305d757431c47096820d.js"></script>
        </div>
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Selection Sort:
          </h3>
          <p class="text-danger fs-5 text-center">
            In this lab we learned: How selection sort works, and computational
            Complexity
          </p>
          <script src="https://gist.github.com/masonParker/c3804fd7d50529cf788a035eb7c75493.js"></script>
        </div>
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Insertion Sort:
          </h3>
          <p class="text-danger fs-5 text-center">
            In this lab we learned: How insertion sort works, and computational
            Complexity
          </p>
          <script src="https://gist.github.com/masonParker/bbe609b04055fed8e67ac10614252c34.js"></script>
        </div>
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Binary Search:
          </h3>
          <p class="text-danger fs-5 text-center">
            In this lab we learned: What binary search is, and computational
            Complexity
          </p>
          <script src="https://gist.github.com/masonParker/410bdb01f6f75814c07519a210306d1a.js"></script>
        </div>
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Models and Simulations:
          </h3>
          <p class="text-danger fs-5 text-center">
            In this lab we learned: Why we use computer models and simulation,
            and what are some commonly used applications
          </p>
          <script src="https://gist.github.com/masonParker/f44ff2d866dba9d4770d585b334fa755.js"></script>
        </div>
      </div>
    </div>
  </body>
</html>
