<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    >

      function gitDescription
            {
              let description = document.querySelector("#description1").value;
              alert(description1);
            }
    </script>
    <title>C Labs and Assignments</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    <style></style>
  </head>
  <body class="bg-info container jumbotron">
    <h1 class="text-center text-white">
      <u>Unit 1: C</u>
    </h1>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
    <div class="container">
      <div class="row-sm">
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Magic Numbers Lab:
          </h3>
          <p class="text-danger fs-5 text-center">
            In this lab we were given a set of code where I had to identify and
            change magic numbers into the correct constants.
          </p>
          <script src="https://gist.github.com/masonParker/d54f6a4f704030496289fc0c870a5801.js"></script>
        </div>
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Arrays and Strings Lab:
          </h3>
          <p class="text-danger fs-5 text-center">
            For this lab we were tasked with creating a program where a user
            would input the amount of hours of homework they did each day for
            the past 5 days. After the user inputted their answers we had to get
            the program to print out the appropriate hours for each day.
          </p>
          <script src="https://gist.github.com/masonParker/3aab9231d538e30e268a55f515eaf798.js"></script>
        </div>
        <div class="col-sm">
          <h3 class="text-secondary text-center">
            Functions Lab:
          </h3>
          <p class="text-danger fs-5 text-center">
            In the functions lab I had to create a custom function that should
            prompt the user to enter an input that should only allow a positive
            integer otherwise it should prompt the user to retry.
          </p>
          <script src="https://gist.github.com/masonParker/4420ce33d938563a681f487bfca707fe.js"></script>
        </div>
      </div>
    </div>
  </body>
  <p>
    I'm your cool new webpage. Made with
    <a href="https://glitch.com">Glitch</a>!
  </p>
</html>
